html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    line-height: 1.5
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1c1c1e;
    color: #ffff;
    font-size: 18px;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    text-align: left
}

h1,
h2,
p {
    margin: 0
}

a {
    text-decoration: none
}

a.text-link {
    position: relative;
    color: #007bf6;
    padding: 4px 6px;
    margin: -4px -6px;
    z-index: 10;
    transition: .3s background ease, .3s margin ease;
    border-radius: 5px;
}

a.text-link:hover {
    background: #007aff18;
    margin: -4px -2px
}

.quiet {
    color: #3c3c434d
}

.container {
    max-width: 680px;
    margin: 0 auto
}

main {
    padding: 24px 28px
}

main h1 {
    margin-top: 24px;
    color: #757575;
    font-size: 64px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -.003em
}

main .primary {
    margin-top: 24px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -.004em
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 18px;
    margin-top: 20px
}

.card {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2c2c2e;
    border-radius: 8px;
    transition: .15s background
}

.card:hover {
    background: #0a84ff11;
}

.card:hover svg {
    fill: #1988f7;
    transform: translate3d(0, -2px, 0)
}

.card svg {
    fill: #8e8e93;
    width: 48px;
    transition: .15s fill, .15s transform
}

.card img {
    width: 48px
}

.ps {
    text-align: center;
    margin: 30px 0 24px;
    color: #757575;
}

#g {
    color: #4285F4;
}
#oe {
    color:  #DB4437;
}
#o2 {
    color: #F4B400;
}
#l {
    color: #0F9D58;
}
#usc {
    color:  #990000;
    font-family: serif;
    font-weight: bold; 
    -webkit-text-stroke: 0.5px #f4d557
}
